.practice__btn {
  width: 200px;
  padding: 10px 0px;
  color: #fff;
  border-radius: 30px;
  background: linear-gradient(#ff5800, #8b00be);
  text-align: center;
  box-shadow: 0px 5px 0px rgba(255, 0, 0, 0.2);
  display: block;
  margin: 100px auto;
}

.card {
  width: 360px;
  margin: 100px auto 0;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 2);
}

.card_img img {
  width: 100%;
}
